# Skip checksum verification for OpenShift Origin (Kubernetes fork) to avoid 404/500 errors
# This is needed because pseudo-versions may not be indexed in sum.golang.org
export GONOSUMDB=github.com/openshift/origin
